.Streamline_Icon {
  display: inline-block;
}

.Streamline_Icon--animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;
  animation-timing-function: linear;
}

.Streamline_Icon--spin {
  animation-name: rotate;
  animation-duration: 2s;
}

.Streamline_Icon--infinite {
  animation-iteration-count: infinite;
}

.Streamline_Animation--fast {
  animation-duration: 1s;
}

.Streamline_Animation--ease_in_out {
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
